.footer{
    position: fixed;
    margin-top:6.8rem;
    font-size:1.4rem;
    text-align: center;
    background:var(--color-background-500);
    padding:1rem;l
    &__link{
        cursor: pointer;
        padding:0 .4rem;
        color:var(--color-primary-light);

        &:link,&:visited{
          color:var(--color-primary)
        }
        &:hover,&active{
            
            transform:skewX(50deg)
        }
    }
}