.center{
    

    
    margin:0 auto;
    width:85vw;
    max-width:120rem;
    padding-top:2rem;
    
}
.container{
    width:90vw;
    

    
    margin:0 auto;
    
    max-width:120rem;
    padding-top:2rem;
   
}

.showing{
    display:flex;
    flex-direction: column;
    
}

 