.dashboard{
    display:grid;
    grid-template-columns: repeat(2,minmax(3rem,1fr));
    row-gap:1rem;
    column-gap:.2rem;
   margin:2rem 0 8rem 0;

   
    
    @include device(phone){
        
        display:flex;
        align-items: flex-start;
        justify-content: center; 
        margin-top:3rem;
        margin-bottom:5rem;
        gap:1rem;
        
    }
    
    @include device(tab){
        
        gap:3rem;
    }
    &__list{
         
        list-style-type: none;
        
    }

    &__card-box{
        align-self: center;
 
       
       
    }
    &__card{
        background:var( --color-background-100);
        border-radius: .9rem;
        width:11rem;
        display:flex;
        margin-bottom: 3rem;
        align-items: flex-start;
        padding:0.45rem 0.75rem;
        margin:0 auto;
        margin-left:2rem;
        
        justify-content: space-between;
        
        @include device(phone){
            width:8rem;
            margin-left:0;
        }
        
        @include device(tab){
            padding:1rem 1.25rem;
            width:10rem;
            justify-content: space-between;
            
            
           }
        @include device(big__tab){
            padding:1rem 1.25rem;
            width:12rem;

            
           }
        
        
        &:hover{
            transition:all .6s;
            transform:translateY(-2px);
            box-shadow: var(--clr-bg-dark);
        }
    }

    &__info{
       text-align: center;
       margin-bottom:1rem;
       font-weight:700;
       font-size:1.6rem;
       color:var(--color-text);
       
       @include device(tab){
        font-size:2rem;
       }
    }
    &__text{
       font-size: 1rem;
       color:var(--color-text-dark);
       padding-left:.5rem;
       @include device(phone){
        font-size:.8rem;
       }
        @include device(tab){
            font-size:1rem;
        }
    }

}

