.profile{
    
    display:flex;
    align-items: center;
    justify-content: space-between;
     
    padding:1rem ;
    border-top-right-radius: .9rem;
    border-top-left-radius: .9rem;
 
 
    @include device(tab){
        
        margin:0 auto;
        margin-top:7rem;
        text-align: center;
        padding-top:3rem;
        font-size: 1.6rem;
      
         
    }
     
    &__card{
        
        display: flex;
        align-items: flex-start;
        column-gap:2rem;
        width:100%;
        @include device(tab){
            flex-direction:column;
            background-color: none;
        }
       
    }
   
    &__img{
        width:3rem;
        height:3rem;
        border-radius:50%;
        @include device(tab){
            width:15rem;
            height:15rem;
            border-radius: 50%;
            margin-top:-5rem;
            border:#fff 6px solid;
        }
    }
    &__name{
        color:var(--color-text);
        font-size:2rem;
    }
    &__id{
      
        display:none;
        @include device(tab){
            color:var(--color-text-dark);
            font-size:1.4rem;
            font-weight:400;
        }
        
        

    }
    &__bio{
        display:none;
        @include device(tab){
            font-size:1.8rem;
            margin:3rem 0 2rem 0;
            color:var(--clr-white);
        }
    }
    &__article{
        display:none;
        @include device(tab){
            display:flex;
            row-gap:.5rem;
            column-gap:1rem;
            flex-direction: column;
            margin-top:2rem;
            align-items: center;
            
            width:100%;
        }

        
    }
    &__icon{
        font-size:1.8rem;
        height:2.8rem;
        width:2.8rem;
    }
    &__info{
        display:none;
        @include device(big__tab){
            display: flex;
            align-items: flex-start;
            column-gap: 1rem;
            justify-content: space-between;
             font-size:1.4rem;
            width:80%;
            text-align:center;
        }
    }
     
}