.repo{
    display:flex;
    align-items: flex-start;
    
    row-gap:3rem;
    flex-direction:column;

    
    
    @include device(bigger__tab){
        flex-direction:row;
    }
    &__repo{
        width:95%;
       
         margin:0 auto;
        
        
    }
    &__sidebar{
        width:80%;
         
        text-align: center;
        
        @include device(big__tab){
            width:22%;
            align-items: center;
        }
    }
}