.loader_container{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  z-index:1000;
  background:green;
  cursor:none;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.098);
 
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
 
   
}



.loader {
  display:flex;
  place-items:center;
  /* margin:0 auto; */
  color:var(--color-primary);
  margin:17% auto;
  
    width: 50px;
    height: 24px;
    background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
        50%,
      radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
      radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
    background-size: calc(100% / 3) 12px;
    background-repeat: no-repeat;
    animation: loader 1s infinite linear;
  }
  
  @keyframes loader {
    20% {
      background-position: 0% 0%, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0% 100%, 50% 0%, 100% 50%;
    }
    60% {
      background-position: 0% 50%, 50% 100%, 100% 0%;
    }
    80% {
      background-position: 0% 50%, 50% 50%, 100% 100%;
    }
  }